// ##### Global ####
  body {
    background: url('../images/GT_web_bg_grid_pattern.png') repeat top left;
    color: $gray;
    font-family: $main-type-face;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $display-face, Helvetica, Arial, sans-serif;
  }

  .row {
    max-width: none; //override
    width: 100%;      
  }

// ##### Navbar ####
  .navbar {
    background: url('../images/GT_web_bg_grid_pattern.png') repeat top left;
    // position: fixed; - could become fixed again soon
    top: 0;
    z-index: 3;

    ul.menu-container {
      border-spacing: 0.5em;
      margin: 0 auto;


      li {
        height: 0; // lets ul element make their own height
        text-transform: uppercase;

        .btn, .btn:hover {
          border: none;
        }

        .btn.default {
          background: $orange;
          border-bottom: 2px $dark-orange solid;
          color: $offwhite;
          margin: 0em .4em;
          transition: background 0.6s ease;
        }

        .btn.default:hover {
          background: $dark-orange;
          text-decoration: none;
        }

        a, a:visited {
          color: $orange;
          padding: 0em 1em;
          text-shadow: none; //overrides that god-awful text-shadow on navbar li links
          transition: border-bottom 0.5s ease, color 0.5s ease;
        }

        a:hover {
          background: none;
          color: $dark-orange;
          border-bottom: 2px $dark-orange solid;
        }
      }
    }
  }

// #### Band 1: Hero Mobile Area ####

  //bg image + container
  .hero-background {
    background: url('../images/GT_web_trucks_bwphoto.png') no-repeat bottom center;
    height: 100%;
    margin-top: -2em; //overrides .navbar bottom margin which is stubborn
    min-height: 53em;
    min-width: 100%;

    //for retina background images in Gumby, not sure if this works
    @include respond("min-device-pixel-ratio: 2") {
      background: url('../images/GT_web_trucks_bwphoto@2x.png') no-repeat bottom center; 
      background-size: 1429px 538px;
    }

    // truck, logotype and short text - table layout
    .logo {
      display: table;
      border-spacing: 1em;
      margin: 3em auto 0em auto;

      .site-logo {
        display: table-row;
        
        .site-logo-img {
          display: table-cell;
          height: 5em;
          vertical-align: middle;
        }

        .site-title {
          display: table-cell; 
          height: 5em;
          vertical-align: middle;

          h1 {
            font-size: $xxxlarge;
          }
        }
      }
    }

    .site-intro-container {
      margin: -1em auto 0 auto;
      width: 30em;

      .site-intro-text {
        display: float;
        font-size: $med;
        line-height: $extra-line-height;
        text-align: center;
      }
    }

    // for iphone theatrics
    .iphone-backdrop {
      float: left;
      max-width: 320px;
      position: relative;

      img {
        display: block;        
      }
  
      .hero-image-band-container {
        position: absolute;
        top: 13%;
        left: 0;
        bottom: 0;
        right: 0;

        img {
          display: block;
          margin: auto;
        }
      }
    }
  }

// #### Band 2: Email Signup ########
  .email-text {
    margin-top: 3.5em;
    
    h2 {
      font-size: $xxxlarge;
      text-align: center;
    }
  }

  .email-teaser {
    font-size: $med;
    margin-bottom: 2em;
    text-align: center;
  }


  //mailchimp stuff
  #mc-embedded-subscribe-form {
    margin-bottom: 8em;

    .btn.primary, .btn.primary:hover {
      background: $gray;
      border: 1px $gray solid;
      border-radius: 0px;
      color: $offwhite;
    }

    .field .input {
      border-radius: 0px;
    }

    .mailchimp-fauxbutton {
      background: $orange;
      border-bottom: 2px $dark-orange solid;
      color: $offwhite;
      height: 2.5em;
      transition: background 0.6s ease;
      text-transform: uppercase;
    }
    
    .mailchimp-fauxbutton:hover {
      background: $dark-orange;
      text-decoration: none;
    }
  }







