/* Fonts */

// Import Google Web Fonts
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);


// Set local icon font
@font-face {
  font-family: '#{$icons}';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/icons/#{$icons}.eot);
  src: url('../fonts/icons/#{$icons}.eot?#iefix') format('ie9-skip-eot'),
       url('../fonts/icons/#{$icons}.woff') format('woff'),
       url('../fonts/icons/#{$icons}.ttf')  format('truetype');
}

// Display Face: Ostrich Sans Dark
@font-face {
  font-family: '#{$display-face}';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ostrich-sans-black/ostrich-black.eot);
  src: url('../fonts/ostrich-sans-black/ostrich-black.eot?#iefix') format('ie9-skip-eot'),
       url('../fonts/ostrich-sans-black/ostrich-black.woff') format('woff'),
       url('../fonts/ostrich-sans-black/ostrich-black.ttf')  format('truetype');
}

// Main Type Face: Museo
@font-face {
  font-family: '#{$main-type-face}';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/museo-slab/Museo_Slab_500_2-webfont.eot);
  src: url('../fonts/museo-slab/Museo_Slab_500_2-webfont.eot?#iefix') format('ie9-skip-eot'),
       url('../fonts/museo-slab/Museo_Slab_500_2-webfont.woff') format('woff'),
       url('../fonts/museo-slab/Museo_Slab_500_2-webfont.ttf')  format('truetype');
}

// Main Type Face, Italic: Museo Italic
@font-face {
  font-family: '#{$main-type-face-italic}';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/museo-slab-italic/Museo_Slab_500italic-webfont.eot);
  src: url('../fonts/museo-slab-italic/Museo_Slab_500italic-webfont.eot?#iefix') format('ie9-skip-eot'),
       url('../fonts/museo-slab-italic/Museo_Slab_500italic-webfont.woff') format('woff'),
       url('../fonts/museo-slab-italic/Museo_Slab_500italic-webfont.ttf')  format('truetype');
}

// To include your own, local copies of fonts, use the following template
//
//@font-face {
//  font-family: '#{$some-font-variable}';
//  font-style: normal;
//  font-weight: 400;
//  src: url(../fonts/icons/#{$some-font-variable}.eot);
//  src: url('../fonts/icons/#{$some-font-variable}.eot?#iefix') format('ie9-skip-eot'),
//       url('../fonts/icons/#{$some-font-variable}.woff') format('woff'),
//       url('../fonts/icons/#{$some-font-variable}.ttf')  format('truetype');
//}
